In [1]:
# Set up packages for lecture. Don't worry about understanding this code, but
# make sure to run it if you're following along.
import numpy as np
import babypandas as bpd
import pandas as pd
from matplotlib_inline.backend_inline import set_matplotlib_formats
%reload_ext pandas_tutor
%set_pandas_tutor_options {'projectorMode': True}
set_matplotlib_formats("svg")

np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.set_option("display.max_rows", 7)
pd.set_option("display.max_columns", 8)
pd.set_option("precision", 2)

# Lecture 6 ‚Äì  More Querying and GroupBy

## DSC 10, Summer 2022

### Announcements

- Lab 2 is due **tomorrow at 11:59pm**.
- Homework 2 is due on **Sat 7/16 at 11:59pm**.

### Agenda

- Recap: queries.
- Writing queries with multiple conditions.
- GroupBy.
- Challenge problems.

**Resources**: 
- [Resources tab of the course website](https://dsc10.com/resources/)
- [DSC 10 Reference Sheet](https://drive.google.com/file/d/1mQApk9Ovdi-QVqMgnNcq5dZcWucUKoG-/view)
- [BabyPandas Documentation](https://babypandas.readthedocs.io/en/latest/index.html)

## Recap: queries

### Recap: queries

- A "query" is code that extracts rows from a table for which certain condition(s) are true.
- Below we load in our NBA salaries üèÄ dataset from last time.

In [ ]:
salaries = bpd.read_csv('data/nba-2022.csv').set_index('Player')
salaries

### Question: Who is the highest-paid player on the Houston Rockets? üöÄ

### Boolean indexing

To select only some rows of `salaries`:

1. Make a sequence (list/array/Series) of `True`s (keep) and `False`s (toss).
    - The values `True` and `False` are of the _Boolean_ data type.
2. Then pass it into `salaries[sequence_goes_here]`.

Rather than making the sequence by hand, we usually generate it by making a comparison.

### Elementwise comparisons

There are several types of comparisons we can make.

|symbol|meaning|
|--------|--------|
|`==` |equal to |
|`!=` |not equal to |
|`<`|less than|
|`<=`|less than or equal to|
|`>`|greater than|
|`>=`|greater than or equal to|

In [ ]:
# Find all players whose salary is at least 20 million

## Queries with multiple conditions

### Multiple conditions

- To do a query with multiple conditions, use `&` for "and" and `|` for "or".
- **Must use parentheses around each query.**
- Note: Don't use the Python keywords `and` and `or` here! They do not behave as you'd want.
    - Read the course notes for an explanation.

In [ ]:
# Find all players who are guards (point guards or shooting guards)

In [ ]:
# You can add line breaks within brackets

### The `&` and `|` operators work element-wise

### Question: Which Power Forwards (PF) on the Sacramento Kings have a salary of over 8 million? üëë

<div class="menti">
<div>

### Discussion Question

Which query creates a DataFrame of all the centers (C) **besides** Dwight Howard?
Assume that `dwight = 'Dwight Howard'`.

A. `salaries[(salaries.get('Position') == 'C') &
            (salaries.get('Player') != dwight)]`

B. `salaries[(salaries.get('Position') == 'C') and
            (salaries.index != dwight)]`

C. `salaries[(salaries.get('Position') == 'C') &
            (salaries.index != dwight)]`

</div>
<div>

### To answer, go to **[menti.com](https://www.menti.com/v42ge81t5d)** and enter the code 2863 3386 or use this QR code:

![](images/menti-qr.png)
    
</div>
</div>

## GroupBy: Split, Aggregate, Combine

### Question: Which team had the highest payroll?

- We can find the payroll for any one team.
    - For example, `salaries[salaries.get('Team') == 'Golden State Warriors'].get('Salary').sum()`.
- But how can we find the payroll for **all** teams at once?

In [ ]:
salaries

It seems like there has to be a better way. And there is!

### `.groupby`

Observe what happens when we use the `.groupby` method on `salaries` with the argument `'Team'`:

### An Illustrative Example: Pets üê± üê∂üêπ

Consider the DataFrame `pets` containing pet species, colors, and weights.

<div align=center>
<img src='images/pets.png' width=200>
</div>

üì¢ Shoutout to Kodah, Chilli, Fluffles, and Max.

In [ ]:
pets = bpd.DataFrame().assign(
    Species=['dog', 'cat', 'cat', 'dog', 'dog', 'hamster'],
    Color=['black', 'golden', 'black', 'white', 'golden', 'golden'],
    Weight=[40, 15, 20, 80, 25, 1]
)

pets

### Visualizing `pets.groupby('Species').mean()`

- 3 steps for `.groupby`
    1. Split
    2. Aggregate
    3. Combine

### Back to the NBA... üèÄ

### `.groupby` in general

1. Use `.groupby(column_name)` to gather rows which have the same value in the specified column (`column_name`).
    - In the previous example, we grouped by `'Team'`.
    - In the resulting DataFrame, there will be one row for every unique value of `'Team'`.
2. Apply an **aggregation** method **within** each group.
    - In the previous example, we applied the `sum` method to every `'Team'`.
    - The aggregation method is applied individually to each column.

Some aggregation methods: `.count()`, `.sum()`, `.mean()`, `.median()`, `.max()`, `.min()`.

### Observation #1

- The index has changed to team names.
- In general, the new row labels are the *group labels* (the thing that is used to determine if two rows were in same group).

### Observation #2

- The `'Position'` and `'Team'` columns have disappeared. Why?

### Disappearing columns ‚ú®üêáüé©  

- The aggregation method is applied to each column.
- If it doesn't make sense to apply it to a particular column, that column will disappear.
- Example: We can't sum strings, like in the `'Position'` column.
- Surprising example: we *can* `max()` strings. How?

### Other aggregation methods

- Aggregation methods work on arrays/lists/Series and return a single number.
- The most common ones are `.count()`, `.sum()`, `.mean()`, `.median()`, `.max()`, and `.min()`.

### Question: Which team had the highest payroll?

### Question: How many players play each position?

### Aside: Better column names?

To rename a column:

1. Add a new column with `.assign` containing the same values as the old column(s).
2. Drop the old column(s) with `.drop(columns=list_of_column_labels)`.

In [ ]:
position_counts = salaries.groupby('Position').count()
position_counts

## Example: IMDb Dataset üéûÔ∏è

<center>
<img width=80% src="images/imdb.png"/>
</center>

In [ ]:
imdb = bpd.read_csv('data/imdb.csv').set_index('Title').sort_values(by='Rating')
imdb

### Question: How many movies appear from each decade?

### Question: What was the highest rated movie of the 1990's?

Let's try and do this two different ways.

#### Without grouping

#### With grouping

- It turns out that this method **does not** yield the correct answer. 
- When we use an aggregation function (e.g. `.max`), aggregation is done to each column individually. 
- While it's true that the highest rated movie from the 1990s has a rating of 9.2, that movie is **not** Unforgiven ‚Äì instead, Unforgiven is the movie that's the latest in the alphabet among all movies from the 1990s.
- Taking the max is not helpful here.

## Challenge Problems

We won't cover these problems in class, but they're here for you to practice with some harder examples. To access the solutions, you'll need to watch [this solution walkthrough video](https://youtu.be/xg7rnjWnZ48).

Before accessing the solutions, **make sure to try these problems on your own** ‚Äì they're great prep for homeworks and projects!

### Question: How many years have more than 3 movies rated above 8.5?

#### Aside: Using `.sum()` on a boolean array

- Summing a boolean array gives a count of the number of `True` elements because Python treats `True` as 1 and `False` as 0. 
- Can you use that fact here?

### Question: Out of the years with more than 3 movies, which had the highest average rating?

### Question: Which year had the longest movie titles, on average?

**Hint:** Use `.str.len()` on the column or index that contains the names of the movies.

### Question: What is the average rating of movies from years that had at least 3 movies in the Top 250?

## Summary

### Summary

- We can write queries that involve multiple conditions, as long as we:
    - Put parentheses around all conditions.
    - Separate conditions using `&` if you require all to be true, or `|` if you require at least one to be true.
- The method call `df.groupby(column_name).name_of_method()` **aggregates** all rows with the same value for `column_name` into a single row in the resulting table, according to the aggregation method `name_of_method`.
    - Aggregation methods we've seen include `.count()`, `.sum()`, `.mean()`, `.median()`, `.max()`, and `.min()`.
- **Next time:** A picture is worth a 1000 words ‚Äì it's time to visualize!